.authRequiredForAccess h1 {
	font-size: 1.5em;
	color: #444;
}

.accountDetailsPage > section {
	max-width: 60em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2em;
}

.accountDetailsPage ul {
	list-style-type: square;
}

.checkoutButtonWrapper {
	min-width: 6em;
}

.SignInOrSignUp h3 {
	font-size: 120%;
}

.signInUpFormWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 50em;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 20px;
	margin-bottom: 1em;
	border-radius: 5px;
	background-color: #b6c4d88a;
}

.signInUpFormWrapper form {
	display: flex;
	flex-direction: column;

	width: 100%;
	max-width: 400px;
}

.signInUpFormWrapper form label {
	font-size: 16px;
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
}

.signInUpFormWrapper form input {
	height: 40px;
	padding: 10px;
	font-size: 16px;
	border: 1px solid #cccccc;
	border-radius: 5px;
	margin-bottom: 20px;
}

.signInUpFormWrapper form button,
.passwordChange button {
	height: 40px;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	background-color: #1d2747;
	color: white;
	cursor: pointer;
}

.signInUpFormWrapper form button + button {
	margin-top: 10px;
}

.signInUpFormWrapper button:hover,
.passwordChange button:hover {
	background-color: #384a80;
}

.signInUpFormWrapper .onPageError {
	font-size: 14px;
	margin-top: -15px;
	margin-bottom: 15px;
}

.passwordChange {
	text-align: center;
}

/* Specificity needed to override style placed on .accountDetailsPage > section */
section.orderHistory {
	max-width: 120em;
}

.orderHistory {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 1em;
}

.orderHistory button {
	width: fit-content;
}

.orderHistoryTable {
	width: 100%;
}

.orderHistoryTable th,
.orderHistoryTable td {
	padding: 0.4em;
}

.orderHistoryTable th[scope='col'] {
	background-color: #9acef0;
}

.orderHistoryTable th[scope='row'] {
	font-weight: normal;
}

.orderHistoryTable tbody tr:nth-child(even) {
	background-color: #e0e0e0;
}

/* Don't like using column position for styling tables, since it tends to get forgotten about when changes happen, but TableData class hasn't had any className functionality added, so here we are.. 
   Note: these are used in low width styles as well, and need to be kept up to date*/

/* Date */
.orderHistoryTable th[scope='row'] {
	text-align: left;
}

/* Order ID */
.orderHistoryTable td:nth-child(2) {
	text-align: left;
}

/* Customer name */
.orderHistoryTable td:nth-child(3) {
	text-align: left;
}

/* ex and inc prices */
.orderHistoryTable td:nth-child(4),
.orderHistoryTable td:nth-child(5) {
	text-align: right;
}

/* Order status */
.orderHistoryTable td:nth-child(6) {
	text-align: center;
}

.orderDetails {
	margin: 1em;
	padding: 2em;
	border: 1px black solid;
	display: flex;
	flex-direction: column;
	row-gap: 2em;
}

.orderDetails > section {
	border-bottom: 1px black solid;
	padding-top: 1em;
	padding-bottom: 1em;
}

.orderDetails > section:last-child {
	border-bottom: none;
}

.orderDetails ul {
	list-style-type: none;
}

.orderDetails .receiptTitle {
	margin-top: -2em;
	border-bottom: none;
	font-size: 180%;
	color: #666;
}

.orderDetails .receiptTitle h2 {
	margin: 0;
	padding: 0;
}

.orderDetails .notReceipt {
	opacity: 0.3;
}

.orderDetails .receiptHeader {
	display: flex;
	flex-direction: row;
	column-gap: 5em;
}

.orderDetails .logoContainer {
	background-color: #1d2747;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 70px;
	width: 350px;
	flex: 1;
}

.orderDetails .logoContainer img {
	height: 50px;
}

.orderDetails .addresses {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	column-gap: 8em;
}

.orderDetails .addresses ul {
	width: 20em;
	padding-left: 0;
}

.orderDetails .addresses ul > li {
	width: 90%;
}

.orderDetails .pricing ul,
.orderDetails .pricing li {
	padding: 0;
	margin: 0;
}

.orderDetails .pricing > ul > li:nth-of-type(even) {
	background-color: #eee;
}

.orderDetails ul.lineItem {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.orderDetails ul.lineItem > li {
	padding: 0.5em;
}

.orderDetails .lineItem > li:first-child {
	width: 80%;
	border-right: 1px black solid;
}

.orderDetails .lineItem > li:last-child {
	width: 20%;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}

.orderDetails .subTotal {
	font-weight: 500;
}

.orderDetails .total {
	font-weight: 600;
}

.pdfReceipt {
	font-size: 12px !important;
	border: none !important;
	margin: 0 !important;
	padding: 0 !important;
	padding-right: 10em !important;
	width: 60em !important;
}

.pdfReceipt > * {
	padding: 1em 3em !important;
	width: 100% !important;
}

.pdfReceipt .receiptTitle {
	margin-top: 0 !important;
}

.pdfReceipt .receiptHeader {
	width: 45em !important;
}

.pdfReceipt .addresses {
	flex-direction: row !important;
	column-gap: 5em !important;
	row-gap: initial !important;
}

.pdfReceipt .lineItem > ul {
	width: 50em !important;
}

.pdfReceipt .lineItem > li:first-child {
	width: 41em !important;
}

.pdfReceipt .lineItem > li:last-child {
	width: 7em !important;
}

@media (max-width: 650px) {
	.orderDetails .addresses {
		flex-direction: column;
		column-gap: 0;
		row-gap: 2em;
	}
}

@media (max-width: 500px) {
	.accountDetails {
		font-size: 130%;
	}

	.accountDetails li:not(:last-child) {
		margin-bottom: 1em;
	}

	.accountDetails li strong {
		display: block;
	}

	/* Hide name column entirely at low widths */
	.orderHistoryTable th[scope='col']:nth-child(3),
	.orderHistory td:nth-child(3) {
		display: none;
	}
}
