main.authRequiredForAccess h1 {
	font-size: 1.5em;
	color: #444;
}

main.accountDetailsPage > section {
	max-width: 60em;
	margin-left: auto;
	margin-right: auto;
}

main.accountDetailsPage ul {
	list-style-type: square;
}

.SignInOrSignUp h3 {
	font-size: 120%;
}

.signInUpFormWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 50em;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 20px;
	margin-bottom: 1em;
	border-radius: 5px;
	background-color: #b6c4d88a;
}

.signInUpFormWrapper form {
	display: flex;
	flex-direction: column;

	width: 100%;
	max-width: 400px;
}

.signInUpFormWrapper form label {
	font-size: 16px;
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
}

.signInUpFormWrapper form input {
	height: 40px;
	padding: 10px;
	font-size: 16px;
	border: 1px solid #cccccc;
	border-radius: 5px;
	margin-bottom: 20px;
}

.signInUpFormWrapper form button {
	height: 40px;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	background-color: #1d2747;
}

.signInUpFormWrapper form button + button {
	margin-top: 10px;
}

.signInUpFormWrapper button:hover {
	background-color: #384a80;
}

.signInUpFormWrapper .onPageError {
	font-size: 14px;
	margin-top: -15px;
	margin-bottom: 15px;
}
