.cartContainer {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.cartContainer fieldset {
	border: 3px #999 solid;
	border-radius: 5px;
}

.cartContainer h2 {
	margin: 0;
	padding: 0;
}

.cartContainer ul {
	display: flex;
	flex-direction: column;
	list-style: none;
	margin: 0;
	padding: 0;
}

.cartItems {
	font-size: 90%;
}

.cartItems ul li {
	padding: 2em 0.5em;
}

.cartItems ul li:nth-child(even) {
	background-color: #ebf7ff;
}

.cartItems ul li:hover {
	background-color: #d3ebfc;
}

button.removeItem {
	font-size: 120%;
	padding: 0.1em 0.3em;
	margin-right: 1em;
	height: initial;
	color: rgb(172, 111, 111);
}

.licenceWrapper {
	font-size: 110%;
	width: 100%;
	display: block;
	text-align: right;
	margin-top: 0.5em;
}

.checkout {
	font-weight: bold;
	text-align: center;
	font-size: 150%;
}

.configSave {
	font-size: 70%;
	margin-bottom: 1em;
	text-align: right;
}

.configSave button {
	user-select: none;
}

.configSaveText {
	padding-right: 2em;
	display: inline-block;
}

.copySuccess {
	color: green;
	transition: color 1s;
	animation: fadeColor 1s forwards;
}

.total {
	font-size: 80%;
	font-weight: 500;
}

@keyframes fadeColor {
	to {
		color: initial;
	}
}

@media (max-width: 500px) {
	.licenceWrapper {
		display: flex;
		flex-direction: column;
	}
	.configSave button {
		height: 30px;
		font-size: 1em;
	}
}
