.cartContainer h2 {
	margin: 0;
	padding: 0;
}

.cartContainer ul {
	display: flex;
	flex-direction: column;

	list-style: none;
	margin: 0;
	padding: 0;
}

.cartItems {
	font-size: 90%;
}

.cartItems ul li {
	padding: 2em 0.5em;
}

.cartItems ul li:nth-child(even) {
	background-color: #ebf7ff;
}

.cartItems ul li:hover {
	background-color: #e8f3fa;
}

.cartContainer .cartItems button {
	padding: 0.1em 0.3em;
	margin-right: 1em;
	height: initial;
	color: rgb(172, 111, 111);
}

.licenceWrapper {
	width: 100%;
	display: block;
	text-align: right;
	margin-top: 0.5em;
}

.licenceWrapper input {
	margin-left: 1em;
	width: 20em;
	max-width: 70vw;
}

.checkout {
	font-weight: bold;
	text-align: center;
	font-size: 150%;
}

.configSave {
	font-size: 70%;
	margin-bottom: 1em;
	text-align: right;
}

.configSave button {
	user-select: none;
}

.configLinkText {
	padding-right: 2em;
	display: inline-block;
}

.copySuccess {
	color: green;
	transition: color 1s;
	animation: fadeColor 1s forwards;
}

@keyframes fadeColor {
	to {
		color: initial;
	}
}
