.cartContainer h2 {
	margin: 0;
	padding: 0;
}

.cartContainer ul {
	display: flex;
	flex-direction: column;

	list-style: none;
	margin: 0;
	padding: 0;
}

.cartItems {
	font-size: 90%;
}

.cartItems ul li {
	padding: 2em 0.5em;
}

.cartItems ul li:nth-child(even) {
	background-color: #ebf7ff;
}

.cartItems ul li:hover {
	background-color: #d3ebfc;
}

.cartContainer .cartItems button {
	padding: 0.1em 0.3em;
	margin-right: 1em;
	height: initial;
	color: rgb(172, 111, 111);
}
