.configurator {
	max-width: 50em;
	margin: 0 auto;
	padding: 2em;
}

.formError {
	color: rgb(194, 147, 59);
}

.configurator fieldset {
	border: 5px solid #ccc;
	border-right-color: #aaa;
	border-bottom-color: #aaa;
	border-radius: 5px;
	padding: 0.7em;
	font-weight: 600;
}

.configurator fieldset legend {
	color: #333;
	padding: 0.3em 1em;
	width: 90%;
	background-color: #ddd;
	border: 1px #999 solid;
	border-radius: 3px;
	display: block;
}

.configurator input,
.configurator select,
.configurator textarea {
	max-width: fit-content;
	padding: 0.5em;
	font-size: 1em;
	font-weight: 500;
	border: 1px solid #ccc;
	border-radius: 3px;
}

.configurator input[type='checkbox'],
.configurator input[type='radio'] {
	width: auto;
	margin-right: 5px;
}

.configurator label {
	display: block;
	font-weight: 600;
	font-size: 0.95em;
	color: #333;
	margin-bottom: 3px;
	width: 100%;
}

.configurator .summary {
	color: #666;
	margin-bottom: 8px;
}

label.monthsRemaining {
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

label.monthsRemaining > span {
	margin-right: 1em;
}

@media (max-width: 500px) {
	.configurator {
		padding-left: 0;
		padding-right: 0;
	}

	.configurator fieldset legend {
		padding-left: 0.2em;
		padding-right: 0.2em;
	}
}

@media (max-width: 350px) {
	.configurator input,
	.configurator select,
	.configurator textarea {
		font-size: 0.85em;
		padding-left: 0;
		padding-right: 0;
	}
}
