.configurator input,
.configurator select {
  margin-left: 0.5em;
  margin-right: 1em;
}

.configurator input.userQty {
  width: calc(5ch);
  text-align: right;
}

.configurator .formError {
  color: rgb(193, 127, 4);
}
