.configurator {
	max-width: 50em;
	margin: 0 auto;
	padding: 2em;
}

.configurator fieldset {
	border: 5px solid #ccc;
	border-right-color: #aaa;
	border-bottom-color: #aaa;
	border-radius: 5px;
	padding: 0.7em;
	font-weight: 600;
}

.configurator fieldset legend {
	color: #333;
	padding: 0.3em 1em;
	width: 90%;
	background-color: #ddd;
	border: 1px #999 solid;
	border-radius: 3px;
	display: block;
}

.configurator input,
.configurator select,
.configurator textarea {
	min-width: fit-content;
	padding: 0.5em;
	font-size: 1em;
	font-weight: 500;
	border: 1px solid #ccc;
	border-radius: 3px;
}

.configurator input[type='checkbox'],
.configurator input[type='radio'] {
	width: auto;
	margin-right: 5px;
}

.configurator input[type='number'] {
	text-align: right;
	width: 7em;
}

.configurator label {
	display: block;
	font-weight: 600;
	font-size: 0.95em;
	color: #333;
	margin-bottom: 3px;
	width: 100%;
}

.checkbox > label {
	display: inline-block;
	width: auto;
	margin-right: 1.5em;
}

.checkbox > label:last-of-type {
	margin-right: 0;
}

.configurator .unitsInput > div {
	margin-bottom: 0.5em;
}

.configurator .unitsInput > div:last-child {
	margin-bottom: 0;
}

.configurator .summary {
	color: #666;
	margin-bottom: 8px;
}

.configurator .summaryOutOfDate .summaryInnerWrapper {
	opacity: 0.3;
}

.configurator label.monthsRemaining {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: nowrap;
	align-items: center;
	margin-bottom: 0.5em;
}

.configurator label.monthsRemaining:last-child {
	margin-bottom: 0;
}

.configurator label.monthsRemaining > span {
	white-space: break-spaces;
	margin-right: 1em;
	width: 40%;
	flex-grow: 1;
}

.configurator .extendedWarranty > div {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.configurator .extendedWarranty > div > label {
	width: initial;
	margin-right: 2em;
}

.configurator .extendedWarranty > div > label:last-child {
	margin-right: 0;
}

@media (max-width: 500px) {
	.configurator {
		padding-left: 0;
		padding-right: 0;
	}

	.configurator fieldset legend {
		padding-left: 0.2em;
		padding-right: 0.2em;
	}
}

@media (max-width: 400px) {
	.configurator label.monthsRemaining {
		flex-direction: column;
		align-items: flex-start;
		gap: 0.3em;
		margin-bottom: 1.5em;
	}

	.configurator label.monthsRemaining:last-child {
		margin-bottom: 0;
	}

	.configurator label.monthsRemaining > span {
		width: 100%;
	}
}

@media (max-width: 350px) {
	.configurator input,
	.configurator select,
	.configurator textarea {
		font-size: 0.85em;
		padding-left: 0;
		padding-right: 0;
	}
}
