/* DropdownMenu.module.css */

.menuItem {
	position: relative;

	cursor: pointer;
}

button.menuTitle {
	padding: 0;
	background: none;
	border: none;
	font-family: inherit;
	font-size: inherit;
	font-weight: bold;
	text-align: left;
	outline: none;
	line-height: inherit;
	color: inherit;
	cursor: default;
}

button.menuTitle img {
	transition: transform 0.2s;
	transform: rotate(0deg);
	margin-right: 5px;
}

button.menuTitleOpen img {
	transform: rotate(90deg);
}

.dropdown {
	background-color: transparent;
	position: absolute;
	left: -1em;
	visibility: hidden;
	opacity: 0;
	z-index: 10;
	cursor: default;
}

.dropdown > div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.dropdownIsDefaultClosed {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-in-out;
	padding-bottom: 0.8em;
	z-index: 20;
}

.dropdownIsDefaultClosed > div {
	border: 1px solid lightblue;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.visibleDropdown {
	visibility: visible;
	opacity: 1;
	max-height: 200px;
}

.link {
	white-space: nowrap;
	cursor: pointer;
	flex: 1;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.link > a {
	display: flex;
	align-items: center;
	padding: 0.5em 1em;
}

@media (max-width: 500px) {
	.dropdown {
		left: -5px;
		right: -10px;
		top: 0em;
	}

	.dropdownIsDefaultClosed > div {
		border: 2px white solid;
		border-radius: 10px;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
		justify-content: space-around;
		font-size: 130%;
		flex-wrap: wrap;
	}

	.link:not(:nth-child(1)):not(:nth-child(2)) {
		border-top: 1px white solid;
	}

	.link:not(:last-child) {
		border-right: 1px white solid;
	}

	.link > a {
		padding: 0.5em;
	}
}
