/* DropdownMenu.module.css */

.menuItem {
	position: relative;

	cursor: pointer;
}

.menuTitle {
	padding: 0;
	background: none;
	border: none;
	font-family: inherit;
	font-size: inherit;
	font-weight: bold;
	text-align: left;
	outline: none;
	line-height: inherit;
	color: inherit;
	cursor: default;
}

.dropdown {
	position: absolute;
	left: -1em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	visibility: hidden;
	opacity: 0;
	z-index: 10;
}

.dropdownIsDefaultClosed {
	border: 1px solid lightblue;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	transition: visibility 0s, opacity 0.3s;
	z-index: 20;
}

.visibleDropdown {
	visibility: visible;
	opacity: 1;
}

.link {
	white-space: nowrap;
}

.link > a {
	display: inline-block;
	padding: 0.5rem 1rem;
}
