/* DropdownMenu.module.css */

.menuItem {
	position: relative;

	cursor: pointer;
}

button.menuTitle {
	padding: 0;
	background: none;
	border: none;
	font-family: inherit;
	font-size: inherit;
	font-weight: bold;
	text-align: left;
	outline: none;
	line-height: inherit;
	color: inherit;
	cursor: default;
}

button.menuTitle img {
	transition: transform 0.2s;
	transform: rotate(0deg);
	margin-right: 5px;
}

button.menuTitleOpen img {
	transform: rotate(90deg);
}

.dropdown {
	background-color: transparent;
	position: absolute;
	left: -1em;
	visibility: hidden;
	opacity: 0;
	z-index: 10;
	cursor: default;
}

.dropdown > div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.dropdownIsDefaultClosed {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-in-out;
	padding-bottom: 0.8em;
	z-index: 20;
}

.dropdownIsDefaultClosed > div {
	border: 1px solid lightblue;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.visibleDropdown {
	visibility: visible;
	opacity: 1;
	max-height: 200px;
}

.link {
	white-space: nowrap;
	cursor: pointer;
}

.link > a {
	display: inline-block;
	padding: 0.5em 1em;
}
