.header {
	position: relative;
	/* The number in the noise png is its opacity - there are a few other versions available, higher opacity == more pronounced noise effect 
		Experimented with some different shades for the colour gradient, these are darker blue on the left, and lighter on the right.
		(115deg, #1e2748, #27355d, #1e2748) (115deg, #232f57, #2a375b, #232f57) (115deg, #273563, #2f3f6b, #273563) (115deg, #2c3a6b, #32446e, #2c3a6b) 
		
		Note: the .navDropdown needs its background adjusted to match
		*/

	background-image: linear-gradient(0deg, #1e2748, #27355d), url('/images/textures/noise70.png');
	background-blend-mode: overlay;
	background-repeat: repeat;
	color: white;
	min-height: 100px;
	height: 100%;
	display: flex;
	margin-bottom: 1.7em;
}

.navDropdown {
	background-image: linear-gradient(0deg, #1a223f 50%, #1e2748 65%), url('/images/textures/noise70.png');
	background-blend-mode: overlay;
	background-repeat: repeat;
}

.headerInnerWrapper {
	flex-grow: 1;
}

.headerNavContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	height: 100%;
	font-family: 'Lato', sans-serif;
}

.headerNavContainer nav {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	flex-shrink: 0;
}

.headerNavContainer ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0;
}

.headerNavContainer li {
	white-space: nowrap;
	margin-right: 2em;
}

.headerNavContainer,
.headerNavContainer a {
	color: white;
	text-decoration: none;
	font-weight: bold;
}

.headerNavContainer a:hover {
	color: rgb(194, 227, 238);
}

.headerNavContainer .currentPageStyle,
.headerNavContainer a.currentPageStyle:hover {
	color: lightblue;
}
