.header {
	position: relative;
	/* The number in the noise png is its opacity - there are a few other versions available, higher opacity == more pronounced noise effect 
		noisexx is a random colour noise, noisegsxx is a greyscale
		Experimented with some different shades for the colour gradient, these are darker blue on the left, and lighter on the right.
		(115deg, #1e2748, #27355d, #1e2748) (115deg, #232f57, #2a375b, #232f57) (115deg, #273563, #2f3f6b, #273563) (115deg, #2c3a6b, #32446e, #2c3a6b) 
		
		Note: the .navDropdown needs its background adjusted to match
		*/

	background-image: linear-gradient(0deg, #1e2748, #384a80, #27355d), url('/images/textures/noisegs50.png');
	background-blend-mode: overlay;
	background-repeat: repeat;
	font-size: 16px;
	color: white;
	min-height: 100px;
	height: 100%;
	display: flex;
	margin-bottom: 1.7em;
}

.navDropdown > div {
	background-image: linear-gradient(180deg, #212b50, #1d2747), url('/images/textures/noisegs50.png');
	background-blend-mode: overlay;
	background-repeat: repeat;
}

.navDropdownNoFixedOpen > div {
	background-image: none;
	background-color: #212b4e;
}

.headerInnerWrapper {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.headerMainContent {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	height: 100%;
	font-family: 'Lato', sans-serif;
}

.logoContainer {
	text-align: center;
}

/* This is passed to the NavLink surrounding the logo to override the usual fading of the link contents when on the current page */
.headerMainContent .logoContainer .mainLogoLinkCurrent {
	opacity: 1;
}

.mainLogo {
	height: 70px;
}

.headerMainContent nav {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	flex-shrink: 0;
}

.headerMainContent nav *:focus-visible {
	outline: 1px solid white;
}

.headerMainContent ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0;
	column-gap: 2em;
	row-gap: 1em;
}

.headerMainContent li {
	white-space: nowrap;
}

.headerMainContent,
.headerMainContent a {
	color: white;
	text-decoration: none;
	font-weight: bold;
}

.headerMainContent a:hover {
	color: rgb(194, 227, 238);
}

.headerMainContent .currentPageStyle,
.headerMainContent a.currentPageStyle:hover {
	color: lightblue;
}

.headerMainContent nav.infoMenu {
	margin: 0;
}

.headerMainContent nav.infoMenu a {
	display: block;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 0.2em;
	padding-right: 0.2em;
}

.headerMainContent .multiRowProductNav li {
	width: 8em;
}

.headerMainContent nav button {
	padding-top: 0.5em;
	padding-left: 0.2em;
	padding-right: 0.2em;
}

.headerCartContainer {
	flex-grow: 0;
	padding-top: 0.7em;
	position: relative;
}

.cartIcon {
	position: relative;
	display: inline-block;
	background: none;
	border: none;
	cursor: pointer;
}

.cartIcon[disabled] {
	cursor: default;
}

.cartCount {
	position: absolute;
	bottom: -5px;
	left: -5px;
	min-width: 15px;
	min-height: 15px;
	padding: 2px;
	border-radius: 50%;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
	text-align: center;
	line-height: 15px;
	font-size: 15px;
}

.cartEmpty {
	background-color: #512e2e;
}

.cartFull {
	background-color: #006400;
	border: 1px solid cyan;
}

.cartWrapper {
	position: absolute;
	top: 40%;
	right: 50%;
	width: 300px;
	height: 400px;
	padding: 0.5em;
	background-image: url('/images/textures/noisegs100.png');
	background-color: #243059;
	background-blend-mode: overlay;
	background-repeat: repeat;
	color: white;
	border: 2px cyan solid;
	border-radius: 0.25em;
	overflow-y: auto;
	z-index: 20;
}

.closeButton {
	position: absolute;
	top: 0;
	right: 0;
	background: none;
	border: none;
	color: white;
	font-size: 24px;
	cursor: pointer;
}

@media (min-width: 1800px) {
	.mainLogo {
		height: 100px;
	}
}

@media (max-width: 750px) {
	.headerMainContent .productMenu {
		font-size: 14px;
	}
}

@media (max-width: 475px) {
	.mainLogo {
		height: 50px;
	}
}

@media (max-width: 400px) {
	.headerMainContent .infoMenu {
		font-size: 14px;
	}
	.headerMainContent .productMenu {
		font-size: 13px;
	}

	.cartWrapper {
		right: 0;
		font-size: 90%;
		width: 250px;
	}
}

@media (max-width: 350px) {
	.mainLogo {
		height: 30px;
	}
}

@media (max-width: 325px) {
	.cartWrapper {
		right: -25px;
		font-size: 90%;
		width: 250px;
		padding-left: 0.1em;
		padding-right: 0.1em;
	}
}

@media (max-width: 280px) {
	.cartWrapper {
		right: 1%;
		font-size: 80%;
		width: 200px;
	}
}
