.products {
	padding: 1em;
}

.products > ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-direction: row;
	row-gap: 4em;
	column-gap: 4em;
	justify-content: center;
	flex-wrap: wrap;
}

.products > ul > li {
	background-color: #fff;
	padding: 1em;
	width: 40%;
	max-width: 600px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.products img {
	height: 3.5em;
	max-width: min(375px, 45vw);
	width: auto;
}

ul.prodLinks {
	margin-top: auto;
	list-style-type: none;
	display: flex;
	flex-direction: row;
	column-gap: 3em;
	padding-left: 0;
}

@media (max-width: 800px) {
	.products > ul {
		justify-content: center;
	}

	.products > ul > li {
		width: 95%;
		font-size: 110%;
	}

	.products img {
		max-width: min(375px, 100%);
	}
}
