.infoTooltipContainer {
	position: relative;
	text-align: left;
}

.infoTooltipContainer .icon {
	width: 1.4em;
	height: 1.4em;
	position: relative;
	top: 0.3em;
}

.infoTooltipContainer .tooltipText {
	max-width: 300px;
	white-space: pre-wrap;
}

@media (max-width: 550px) {
	.infoTooltipContainer .tooltipText {
		max-width: 50vw;
	}
}
