.infoTooltipContainer {
	position: relative;
}

.infoTooltipContainer .icon {
	width: 1.4em;
	height: 1.4em;
	position: relative;
	top: 0.2em;
}

.infoTooltipContainer .toolTipText {
	max-width: 300px;
	white-space: pre-wrap;
}
