.priceTable {
	border-collapse: collapse;
	max-width: 60em;
	margin-left: auto;
	margin-right: auto;
}

.priceTable th,
.priceTable td {
	padding-top: 0.8em;
	padding-bottom: 0.8em;
	border: 1px solid transparent;
}

.priceTable th {
	padding-left: 2em;
	padding-right: 2em;
}

/* Darken the entire first row (thead row) except for the first cell (since that is darkened by the first column rule) */
.priceTable thead th:not(:first-child) {
	background-color: rgba(0, 0, 0, 0.2);
	mix-blend-mode: multiply;
}

/* Darken the first column at a darker shade */
.priceTable th:first-child,
.priceTable tbody td:first-child {
	background-color: rgba(0, 0, 0, 0.2);
	mix-blend-mode: multiply;
}

/* Darken odd-numbered rows in the tbody at a lighter shade, excluding the first cell */
.priceTable tbody tr:nth-child(even) td:not(:first-child) {
	background-color: rgba(0, 0, 0, 0.05);
	mix-blend-mode: multiply;
}

/* Add border-radius to the table */
.priceTable {
	border-collapse: separate;
	border-radius: 10px;
	overflow: hidden;
}

/* Add border-radius to the top-left cell */
.priceTable thead th:first-child {
	border-top-left-radius: 10px;
}

/* Add border-radius to the bottom-left cell */
.priceTable tbody tr:last-child td:first-child {
	border-bottom-left-radius: 10px;
}

/* Add border-radius to the top-right cell */
.priceTable thead th:last-child {
	border-top-right-radius: 10px;
}

/* Add border-radius to the bottom-right cell */
.priceTable tbody tr:last-child td:last-child {
	border-bottom-right-radius: 10px;
}

.priceTable th[scope='col'] {
	text-align: right;
}

.priceTable td {
	text-align: right;
	padding-right: 0.5em;
	font-size: 0.9em;
}

.priceTable thead th:first-of-type {
	text-align: left;
}

.priceTable th[scope='col'],
.priceTable th[scope='rowgroup'] {
	font-weight: 600;
}

.priceTable th[scope='row'] {
	text-align: left;
	padding-left: 3em;
	font-weight: normal;
}

@media (max-width: 1000px) {
	.priceTable th {
		padding-left: 1em;
		padding-right: 1em;
	}
	.priceTable th[scope='col'] {
		text-align: center;
	}
}

@media (max-width: 850px) {
	.priceTable {
		max-width: initial;
	}
	.priceTable th[scope='col'] {
		font-size: 90%;
	}
}

@media (max-width: 775px) {
	.priceTable {
		font-size: 90%;
	}

	.priceTable caption {
		font-size: 111.11%;
	}
}

@media (max-width: 700px) {
	.priceTable th {
		padding-left: 0.5em;
		padding-right: 0.5em;
	}
}

@media (max-width: 625px) {
	.priceTable {
		font-size: 80%;
	}

	.priceTable caption {
		font-size: 125%;
	}
}
