/* Counteracting the zebra stripe style on .pricingTable that is also being applied */
.applianceTable tbody tr:nth-child(even) td:not(:first-child) {
	background-color: initial;
	mix-blend-mode: initial;
}

.applianceTable th[scope='rowgroup'] {
	text-align: left;
}
