.pricingPage section {
	margin-bottom: 2em;
}

.pricingPage section:last-child {
	margin-bottom: initial;
}

.priceTables > div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 2em;
}

.Configurator {
	margin-top: 3em;
}

.Configurator h2 {
	margin-bottom: 0.5em;
}
