.topConfigurator {
	font-size: 90%;
	float: right;
	margin-left: 0.7em;
	margin-bottom: 0.2em;
	width: 35em;
}

.article > img {
	max-width: 50vw;
	height: auto;
	margin-right: 0.8em;
}

.article > img:nth-of-type(odd) {
	float: left;
}

.article > img:nth-of-type(even) {
	float: right;
}

@media (max-width: 1000px) {
	.topConfigurator {
		font-size: 80%;
	}
}
@media (max-width: 850px) {
	.topConfigurator {
		width: 30em;
	}
}
