.topConfigurator {
	font-size: 90%;
	float: right;
	margin-left: 0.7em;
	margin-bottom: 0.2em;
	width: 35em;
}

.article strong {
	font-weight: 600;
}

.article h2,
.article h3 {
	color: #444;
}

.article > img {
	max-width: 60vw;
	height: auto;
	margin-right: 0.8em;
}

.article > img:nth-of-type(odd) {
	float: left;
}

.article > img:nth-of-type(even) {
	float: right;
}

.article blockquote {
	position: relative;
	font-style: italic;
	font-weight: 500;
	font-size: 1.2em;
	max-width: 35em;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.article blockquote::before {
	font-family: 'Times New Roman', Times, serif;
	content: open-quote;
	font-size: 2em;
	position: absolute;
	left: -0.35em;
	top: -0.2em;
}

.article blockquote::after {
	font-family: 'Times New Roman', Times, serif;
	content: close-quote;
	font-size: 2em;
	position: absolute;
	right: -0.2em;
	bottom: -0.2em;
}

.article blockquote > cite {
	font-style: normal;
	font-weight: 400;
	font-size: 0.83333em;
	display: block;
	margin-top: 0.3em;
	margin-left: -1em;
}

.trialLink {
	font-weight: 600;
	font-size: 1.2em;
	display: block;
	text-align: center;
}

.trialLink:link,
.trialLink:visited {
	color: blue;
}

.trialLink:hover {
	color: rgb(145, 145, 255);
}

.trialLink:active {
	color: blue;
}

@media (max-width: 1000px) {
	.topConfigurator {
		font-size: 80%;
	}
}
@media (max-width: 850px) {
	.topConfigurator {
		width: 30em;
	}
}

@media (max-width: 600px) {
	.article > img:nth-of-type(odd) {
		float: none;
	}

	.article > img:nth-of-type(even) {
		float: none;
	}

	.article > img {
		display: block;
		max-width: 80vw;
		margin-left: auto;
		margin-right: auto;
	}
}
