.priceTables > div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 2em;
}

.priceTables caption {
	font-weight: bold;
	font-family: 'Times New Roman', Times, serif;
	font-size: 120%;
}
